@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
background-color: black;
color: white;
font-family: 'Merienda', cursive;
}
h1, h2, h3, p, img, a{
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 900;
    font-size: 20px
}
div{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
}
.bttbaixar{
    background-color: rgb(48, 48, 194);
    border: none;
    border-radius: 10px;
    width: 50px;
    padding: 20px;
    margin: 50px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    transition: all .5s;
}
.bttbaixar:hover{
    color: #fff;
    background-color: rgb(0, 0, 179);
}